## Basic of Python
In this video we will discuss about

* Various Datatypes in Python
* Variable
* Variables Assigment
* Print Formatting
* Various DataTypes in Python
* Numbers
* Python Tutorial

**Welcome to Python Tutorial**

* Datatype

In [1]:
1+1

2

In [2]:
4*5

20

In [3]:
2*10

20

In [4]:
10/2

5.0

In [5]:
10%2

0

In [6]:
10**2

100

In [7]:
##Check the Data types

In [8]:
type(True)

bool

In [9]:
type("Hello")

str

In [10]:
## Strings

In [11]:
"Hello"

'Hello'

In [12]:
'Krish Naik'

'Krish Naik'

In [13]:
type("Krish Naik")

str

In [14]:
##Variable Assigment
# syntax
# var_name=values

a=10

In [15]:
type(a)

int

In [16]:
a='Krish Naik'

In [17]:
type(a)

str

In [18]:
## Mathematical operation with Variable Assigment

a=10
b=20

In [19]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) ##BODMAS

200
0.5
10
200.5

In [20]:
## Various Ways of Printing

print("Hello")

Hello

In [21]:
first_name='Krish'
last_name='Naik'

In [22]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Krish and last name is Naik

In [23]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is Krish and last name is Naik

In [24]:
len('Krish')

5

In [25]:
type(['1',2,3,4,5])

list

## For, If,Functions

Functions in Python. A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function

In [26]:
## If conditions  and for loops

lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

56 53

In [27]:
'''
Syntax
def funcname(parameter1,parameter2,...):
    function body

'''

'\nSyntax\ndef funcname(parameter1,parameter2,...):\n    function body\n\n'

In [28]:
def add(num1,num2):
    return num1+num2

In [29]:
add(2,4)

6

In [30]:
def add_list(lst):
    sum1 =0
    for i in lst:
        print(i)
        sum1=sum1+int(i)
    return sum1

In [31]:
add_list([1,2,3,4,5,6])

1
2
3
4
5
6

21

In [ ]:
input_num=list(input("Enter the list"))

In [ ]:
input_num

In [ ]:
add_list(input_num)

## Python Data Structures and Boolean

* Boolean
* Boolean and Logical Operators
* Lists
* Comparison operators
* Dictionaries
* Tuples
* Sets
#### Boolean Variables
* Boolean values are the two constant objects False and True.

* They are used to represent truth values (other values can also be considered false or true).

* In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

* The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

* They are written as False and True, respectively.

In [ ]:
False

In [ ]:
print(True,False)

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
my_str='Krish123'

In [ ]:
my_str.istitle()

In [ ]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

## Boolean and Logical Operators

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
True or True

In [ ]:
str_example='Hello World'
my_str='Krish'

In [ ]:
my_str.isalpha() or str_example.isnum()

## Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [ ]:
type([])

In [ ]:
lst_example=[]

In [ ]:
type(lst_example)

In [ ]:
lst=list()

In [ ]:
type(lst)

In [ ]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [ ]:
len(lst)

In [ ]:
type(lst)

## Append

In [ ]:
#.append is used to add elements in the list
lst.append("Krish")

In [ ]:
lst.append(["John","Bala"])

In [ ]:
lst

In [ ]:
##Indexing in List
lst[6]

In [ ]:
lst[1:6]

## Insert

In [ ]:
## insert in a specific order

lst.insert(2,"Naik")

In [ ]:
lst

In [ ]:
lst.append(["Hello","World"])

In [ ]:
lst

In [ ]:
lst=[1,2,3]

In [ ]:
lst.append([4,5])

In [ ]:
lst

## Extend Method

In [ ]:
lst=[1,2,3,4,5,6]

In [ ]:
lst.extend([8,9])

In [ ]:
lst

**Various Operations that we can perform in List**

In [ ]:
lst=[1,2,3,4,5]

In [ ]:
sum(lst)

In [ ]:
lst*5

## Pop() Method

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
lst.pop(0)

In [ ]:
lst

## count():Calculates total occurrence of given element of List

In [ ]:
st=[1,1,2,3,4,5]
lst.count(1)

In [ ]:
#length:Calculates total length of List
len(lst)

In [ ]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(4)

In [ ]:
##Min and Max
min(lst)

In [ ]:
max(lst)

## SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [ ]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

In [ ]:
set_var={1,2,3,4,3}

In [ ]:
set_var

In [ ]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

In [ ]:
## Inbuilt function in sets

set_var.add("Hulk")

In [ ]:
print(set_var)

In [ ]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [ ]:
set2.intersection_update(set1)

In [ ]:
set2

In [ ]:
##Difference 
set2.difference(set1)

In [ ]:
set2

In [ ]:
## Difference update

set2.difference_update(set1)

In [ ]:
print(set2)

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
dic={}

In [ ]:
type(dic)

In [ ]:
type(dict())

In [ ]:
set_ex={1,2,3,4,5}

In [ ]:
type(set_ex)

In [ ]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [ ]:
type(my_dict)

In [ ]:
##Access the item values based on keys

my_dict['Car1']

In [ ]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

In [ ]:

# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

In [ ]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

In [ ]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [ ]:
my_dict

In [ ]:
my_dict['Car1']='MAruti'

In [ ]:
my_dict

## Nested Dictionary

In [ ]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [ ]:
print(car_type)

In [ ]:
## Accessing the items in the dictionary

print(car_type['car1'])

In [ ]:
print(car_type['car1']['Mercedes'])

## Tuples

In [ ]:
## create an empty Tuples

my_tuple=tuple()

In [ ]:
type(my_tuple)

In [ ]:
my_tuple=()

In [ ]:
type(my_tuple)

In [ ]:
my_tuple=("Krish","Ankur","John")

In [ ]:
my_tuple=('Hello','World')

In [ ]:
print(type(my_tuple))
print(my_tuple)

In [ ]:
type(my_tuple)

In [ ]:
## Inbuilt function
my_tuple.count('Krish')

### function

* why function
* function definition
* positional and keywords Argument in function

In [ ]:
def even_odd(num):
    if num%2==0:
        print('the number is even')
    else:
        print("the num is odd")

In [ ]:
even_odd(34)

In [ ]:
even_odd(35)

### print vs val

In [ ]:
# print
def hello_world():
    print("Hello world")

In [ ]:
val = hello_world()

In [ ]:
print(val)

In [ ]:
# return
def hello_world():
    return("Hello world")

In [ ]:
val = hello_world()

In [ ]:
print(val)

In [ ]:
def add_number(num1,num2):
    return num1+num2

In [ ]:
val = add_number(24,48)

In [ ]:
val

In [ ]:
## positional argument = name 
## keyword argument = age

def hello(name,age=29):
    print("my name is {} and age is {}".format(name,age))

In [ ]:
hello("sai")

In [ ]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [ ]:
hello("saurabh","belote",age=29,dob=1990)

In [ ]:
lst = ["saurabh","belote"]
dict_args={"age":29,"dob":1999}

In [ ]:
hello

In [ ]:
hello(*lst,**dict_args)

In [ ]:
lst=[1,2,3,4,5,6,7,8]

In [ ]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [ ]:
evenoddsum(lst)

## lamda function

anonymous function
* A function with no name

it is used for single operation

In [ ]:
def addition(a,b):
    return a+b

In [ ]:
addition(2,4)

In [ ]:
lambda a,b:a+b

In [ ]:
addition(12,45)

In [ ]:
def even(num):
    if num%2==0:
        return True

In [ ]:
even(26)

In [ ]:
even1=lambda a:a%2==0

In [ ]:
even1(12)

In [ ]:
def addition(x,y,z):
    return x+y+z

In [ ]:
addition(2,3,5)

In [ ]:
addition=lambda x,y,z:x+y+z

In [ ]:
addition(3,4,67)

## map function in python

In [ ]:
def even_or_odd(num):
    if num%2==0:
        return "the number {} is Even".format(num)
    else:
        return "the number {} is odd".format(num)

In [ ]:
even_or_odd(24)

In [ ]:
lst=[1,2,3,4,5,67,78,97,3,2,43,1,455]

In [ ]:
list(map(even_or_odd,lst))

## filter function in python

In [ ]:
def even(num):
    if num%2==0:
        return True

In [ ]:
lst= [1,2,4,6,4,322,4,67,77,5,34,3,2,2,3,4,5,36,78,8,9]

In [ ]:
list(filter(even,lst))

In [ ]:
list(filter(lambda num:num%2==0,lst))

## list comprihension

list comperhension provide a consine way to create way to create lists .it consist of bracket containing an expression followed by a for clause , then zero or more for or if clouses. the expression can be anything , meaning you can put in all kinds of objects in list.

In [ ]:
lst =[1,2,3,4,56,78]

In [ ]:
lst1 = [i*i for i in lst]

In [ ]:
lst1

## string formating in python

In [ ]:
print("hello everyone")

In [ ]:
def greeting(name):
    return "hello{}.welome to the community".format(name)

In [ ]:
def welcome_email (name,age=34):
    return 'Welocme {name1}.your age is {age1}'.format(name1=name,age1=age)

In [ ]:
welcome_email('saurabh',21)

# iterables and  iterators

Iterable is an object, which one can iterate over. It generates an Iterator when passed to iter() method. Iterator is an object, which is used to iterate over an iterable object using __next__() method. Iterators have __next__() method, which returns the next item of the object.

In [1]:
for city in ["Berlin", "Vienna", "Zurich"]: 
    print(city) 
  
print("\n") 
      
for city in ("Python", "Perl", "Ruby"): 
    print(city) 
  
print("\n") 
      
for char in "Iteration is easy": 
    print(char, end = " ")

Berlin
Vienna
Zurich


Python
Perl
Ruby


I t e r a t i o n   i s   e a s y

In [12]:
# Examples of built-in functions that act on iterables
list("I am a cow")

['I', ' ', 'a', 'm', ' ', 'a', ' ', 'c', 'o', 'w']

In [13]:
sum([1, 2, 3])

6

In [14]:
sorted("gheliabciou")

['a', 'b', 'c', 'e', 'g', 'h', 'i', 'i', 'l', 'o', 'u']

In [15]:
# `bool(item)` evaluates to `False` for each of these items
any((0, None, [], 0))

False

In [6]:
# `bool(item)` evaluates to  `True` for each of these items
all([1, (0, 1), True, "hi"])
True

True

In [16]:
max((5, 8, 9, 0))

9

In [17]:
min("hello")

'e'

In [2]:
# Function to check object 
# is iterable or not  
def iterable(obj): 
    try: 
        iter(obj) 
        return True
          
    except TypeError: 
        return False
  
# Driver Code      
for element in [34, [4, 5], (4, 5), 
             {"a":4}, "dfsdf", 4.5]: 
                   
    print(element, " is iterable : ", iterable(element))

34  is iterable :  False
[4, 5]  is iterable :  True
(4, 5)  is iterable :  True
{'a': 4}  is iterable :  True
dfsdf  is iterable :  True
4.5  is iterable :  False

In [ ]:
iter(lst)

In [ ]:
lst1

In [ ]:
next(lst)

In [ ]:
for i in lst1:
    print(i)

# opps tutorial in python

In [ ]:
class car:
    def __init__(self,window,door,enginetype):
        self.windows=window
        self.doors=door
        self.enginetype=enginetype
        
    def self_driving(self):
        return "this is a car".format(self.enginetype)

In [ ]:
car1=car(4,5,"petrol")
car2=car(5,5,"diesel")

In [ ]:
print(car1.windows)

In [ ]:
car1.self_driving()

In [ ]:
car1

In [ ]:
car()

In [ ]:
car1.window=5
car1.doors=4

In [ ]:
print(car1.window)

In [ ]:
car2=car()

In [ ]:
car2.windows=3
car2.doors=2

In [ ]:
print(car2.windows)

In [ ]:
print

# pyforest

pyforest lazy-imports all popular Python Data Science libraries so that they are always there when you need them. If you don't use a library, it won't be imported. When you are done with your script, you can export the Python code for the import statements.

In [2]:
df = pd.read_csv("50_startups.csv")

In [3]:
df

    R&D Spend  Administration  Marketing       Spend     Profit
0   165349.20       136897.80  471784.10    New York  192261.83
1   162597.70       151377.59  443898.53  California  191792.06
2   153441.51       101145.55  407934.54     Florida  191050.39
3   144372.41       118671.85  383199.62    New York  182901.99
4   142107.34        91391.77  366168.42     Florida  166187.94
5   131876.90        99814.71  362861.36    New York  156991.12
6   134615.46       147198.87  127716.82  California  156122.51
7   130298.13       145530.06  323876.68     Florida  155752.60
8   120542.52       148718.95  311613.29    New York  152211.77
9   123334.88       108679.17  304981.62  California  149759.96
10  101913.08       110594.11  229160.95     Florida  146121.95
11  100671.96        91790.61  249744.55  California  144259.40
12   93863.75       127320.38  249839.44     Florida  141585.52
13   91992.39       135495.07  252664.93  California  134307.35
14  119943.24       156547.42  256512.92     Florida  132602.65
15  114523.61       122616.84  261776.23    New York  129917.04
16   78013.11       121597.55  264346.06  California  126992.93
17   94657.16       145077.58  282574.31    New York  125370.37
18   91749.16       114175.79  294919.57     Florida  124266.90
19   86419.70       153514.11       0.00    New York  122776.86
20   76253.86       113867.30  298664.47  California  118474.03
21   78389.47       153773.43  299737.29    New York  111313.02
22   73994.56       122782.75  303319.26     Florida  110352.25
23   67532.53       105751.03  304768.73     Florida  108733.99
24   77044.01        99281.34  140574.81    New York  108552.04
25   64664.71       139553.16  137962.62  California  107404.34
26   75328.87       144135.98  134050.07     Florida  105733.54
27   72107.60       127864.55  353183.81    New York  105008.31
28   66051.52       182645.56  118148.20     Florida  103282.38
29   65605.48       153032.06  107138.38    New York  101004.64
30   61994.48       115641.28   91131.24     Florida   99937.59
31   61136.38       152701.92   88218.23    New York   97483.56
32   63408.86       129219.61   46085.25  California   97427.84
33   55493.95       103057.49  214634.81     Florida   96778.92
34   46426.07       157693.92  210797.67  California   96712.80
35   46014.02        85047.44  205517.64    New York   96479.51
36   28663.76       127056.21  201126.82     Florida   90708.19
37   44069.95        51283.14  197029.42  California   89949.14
38   20229.59        65947.93  185265.10    New York   81229.06
39   38558.51        82982.09  174999.30  California   81005.76
40   28754.33       118546.05  172795.67  California   78239.91
41   27892.92        84710.77  164470.71     Florida   77798.83
42   23640.93        96189.63  148001.11  California   71498.49
43   15505.73       127382.30   35534.17    New York   69758.98
44   22177.74       154806.14   28334.72  California   65200.33
45    1000.23       124153.04    1903.93    New York   64926.08
46    1315.46       115816.21  297114.46     Florida   49490.75
47       0.00       135426.92       0.00  California   42559.73
48     542.05        51743.15       0.00    New York   35673.41
49       0.00       116983.80   45173.06  California   14681.40